<% if !user_signed_in? %>

    <h1>Book Club</h1>
    <p><%= link_to 'Sign up to write a review', new_user_registration_path, class:"waves-effect waves-light btn" %></p>
<% end %>

 <% @books.each do |book| %>
   <%= link_to (image_tag book.image.url(:medium), class: 'image'), book%>
 <% end %>

<%= link_to 'new', new_book_path %>
